.navbar {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2.5rem 0;
}

.navbar__logo--item {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 2.8rem;
    color: var( --text-color-white);
   
}

.menu__list{
    display: flex;
    gap: 5rem;

}

.menu__list--item a {
    font-weight: 600;
    color: var( --text-color-white);
    
}


.menu__list--item.active a{
   
    color: var( --color-red);
}

.btn{
    max-width: max-content;
    font-family: inherit;
    border-radius: 2rem;
    padding: 1.2rem 2rem;
    color: var(--color-white);
}

.btn-orange{
    background-color: var(--color-red);
}
.btn-orange:hover {
    background-color: var(--color-blue);
}

/* .btn-primary {
    background-color: var(--color-blue);
} */