.header{
    height: 105vh;
    margin-top: -10vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__body{
display: flex;
}

.header__content{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__content--title{
    font-weight: 400;
    font-size: 6.4rem;
    line-height: 8rem;
    letter-spacing: 1.4px;
    margin-bottom: 3rem;
}
.header__content--text{
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 3rem;
    letter-spacing: 0.25px;
    margin-bottom: 4rem;
    
}